* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

nav header {
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

nav ul {
    overflow-y: auto;
    height: 65%;
}

header {
    margin: 10px;
    font-weight: bold;
}

main header {
    font-size: 30px;
}

#navbar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    border: 1px solid #4d4e53;
}

nav li {
    border-top: 1px solid #4d4e53;
    height: 45px;
}

.nav-link {
    display: block;
    height: 100%;
    width: 100%;
    color: #4d4e53;
    padding: 15px 25px;
}

main {
    position: absolute;
    top: 30px;
    margin-left: 350px;
}

article {
    color: #505156;
    margin: 15px;
    line-height: 1.5;
}

p {
    margin: 20px 0;
}

article ul {
    list-style: disc;
    margin-left: 30px;
}

code {
    display: block;
    padding: 20px 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #f7f7f7;
}

@media only screen and (max-width: 815px) {
    #navbar {
        position: relative;
        width: 100%;
    }

    main {
        position: relative;
        margin: 0 15px;
    }
}